:root {
  font-family: 'Yu Gothic', sans-serif;

  --text-color: #D3D3D3;
  --background-color: #161A1D;
  --primary-color: #660708;
  --secondary-color: #A4161A;
  --tertiary-color: #D3D3D3;
  
  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);

}

svg {
  width: 3.3em;
  height: 3.3em;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #161A1D;
    background-color: #D3D3D3;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
